// # Article
// =========

$sidebar-width: size(366px);

// .c-article {}

// ## Article Content
// ------------------

.c-article__content {
    // padding-right: size(366px);

    .c-article__body & {
        display: flex;
    }

    .c-article__body--with-nav & {
        padding-right: 0;
    }
}

// ## Article Header
// -----------------

.c-article__header {
    display: flex;
    justify-content: center;
    padding-top: size(2);
    padding-bottom: size(4);
    background-color: color('background-alt');

    .c-article--with-image & {
        padding-bottom: size(16);
    }
}

// ## Article Toolbar
// ------------------

$toolbar-spacing: size(0.5);

.c-article__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: negative($toolbar-spacing);
    margin-bottom: size(1);
    margin-left: negative($toolbar-spacing);
}

// ## Article Category
// -------------------

.c-article__category {
    @include font('label-large');

    display: flex;
    justify-content: center;
    align-items: center;
    padding: size(0.75) size(1.5);
    margin-right: $toolbar-spacing;
    margin-left: $toolbar-spacing;
    color: color('light');
    background-color: color('orange');
    border-radius: size(2);
}

// ## Article Title
// ----------------

.c-article__title {
    // @include font('display-medium');

    margin-top: 0;
    margin-bottom: 0;

    .c-article--with-logo & {
        padding-right: $sidebar-width;
    }
}

.c-article__title--short {
    // padding-right: $sidebar-width;
}

// ## Article Meta
// ---------------

.c-article__meta {
    @include font('label-large');

    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-top: size(2);
    margin-bottom: 0;
    color: color('font-muted');
}

.c-article__meta--sidebar {
    @include elevation(1);

    flex-direction: column;
    padding-top: size(1);
    padding-bottom: size(1);
    margin-top: size(3);
    background-color: color('light');
    border-radius: size('radius' 3);

    .c-article--with-image & {
        &:first-child {
            margin-top: negative(12);
        }
    }
}

// ## Article Meta Item
// --------------------

$meta-icon-size: size(2.75);

.c-article__meta-item {
    display: flex;
    align-items: start;

    .c-article__meta--sidebar & {
        flex-direction: column;
        align-items: normal;
        padding: size(1) size(3);
        border-bottom: 1px solid rgba(color('border'), size('opacity' 5));

        &:last-child {
            border-bottom: 0;
        }
    }

    a {
        text-decoration: none;
    }

    svg {
        &:first-child {
            flex-shrink: 0;
            width: $meta-icon-size;
            height: $meta-icon-size;
            margin-top: size(0.125);
            margin-right: size(1);

            .c-article__meta--sidebar & {
                width: size(2.5);
                height: size(2.5);
                margin-top: 0;
            }
        }
    }

    dt {
        display: flex;
        align-items: center;
        font-weight: 700;
    }

    dd {
        margin-left: size(3.5);
    }
}

.c-article__meta-item--inline {
    display: inline-block;
}

$meta-item-separator-spacer: size(2);
$meta-item-separator-size: size(0.75);

.c-article__meta-item--separator {
    width: $meta-item-separator-size;
    height: $meta-item-separator-size;
    margin-top: size(1.125);
    margin-right: $meta-item-separator-spacer;
    margin-left: $meta-item-separator-spacer;
    background-color: color('bullet');
    border-radius: 100%;
}

// ## Article Meta Content
// -----------------------

.c-article__meta-content {
    display: inline-flex;
    align-items: flex-start;
    vertical-align: middle;
}

// ## Article Body
// ---------------

.c-article__body {
    display: flex;
    justify-content: center;
    padding-bottom: size('section-padding');
}

// ## Article Image
// ----------------

.c-article__image {
    margin: negative(12) 0 0;
    // margin: -10% 0 0;
    // margin: size(4) 0 size(4);

    &>img {
        @include elevation(1);

        display: block;
        width: 100%;
        height: auto;
        border-radius: size('radius' 3);
    }
}

// ## Article Logo Wrapper
// -----------------------

.c-article__logo-wrapper {
    display: flex;
}

// ## Article Logo
// ---------------

.c-article__logo {
    flex-shrink: 0;
    // width: $sidebar-width;
    // padding-top: size(2);
    // padding-left: size('gutter');
    margin: negative(12) 0 0;

    &>img {
        @include elevation(1);

        display: block;
        width: 100%;
        height: auto;
        border-radius: size('radius' 3);
    }
}

// ## Article Description
// ----------------------

.c-article__description {
    margin-top: size(4);
}

// ## Article Buttons
// ------------------

.c-article__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: size(3) negative(0.5) negative(0.5);

    &>:first-child {
        margin-right: auto;
    }
}

// ## Article Sidebar
// ------------------

.c-article__sidebar {
    min-width: $sidebar-width;
    padding-left: size(3);
}

// ## Article Nav
// --------------

.c-article__nav {
    @include elevation(1);
    @include font('label-large');

    position: sticky;
    top: size(16);
    margin-top: size(3);
    padding-bottom: size(2);
    background-color: color('light');
    // border: 1px solid color('border');
    border-radius: size('radius' 3);

    .c-article--with-image & {
        &:first-child {
            margin-top: negative(12);
        }
    }
}

// ## Article Nav Title
// --------------------

.c-article__nav-title {
    // @include font('label-large');

    padding: size(3) size(3) size(1);
    margin-bottom: 0;
    color: color('font-muted');
    // border-bottom: 1px solid rgba(color('border'), size('opacity' 5));
}

// ## Article Nav List
// -------------------

.c-article__nav-list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

// ## Article Nav Item
// -------------------

.c-article__nav-item {
    // border-bottom: 1px solid rgba(color('border'), size('opacity' 5));

    &:first-child {
        font-weight: 700;
    }
}

// ## Article Nav Link
// -------------------

$nav-bg-color: color('abbey');

.c-article__nav-link {
    @include transition('backround-color');

    position: relative;
    display: block;
    text-decoration: none;
    padding: size(0.75) size(3);
    color: color('font');

    &:hover {
        background-color: rgba($main-bg-color, size('opacity' 1));
    }

    &:active {
        background-color: rgba($main-bg-color, size('opacity' 2));
    }

    &.is-active {
        background-color: rgba($main-bg-color, size('opacity' 2));

        @include before(null) {
            opacity: 1;
        }
    }

    @include before('') {
        @include transition('opacity');

        position: absolute;
        top: 0;
        left: 0;
        width: size(0.5);
        height: 100%;
        background-color: color('orange');
        opacity: 0;
    }
}

.c-article__nav-link--h3 {
    padding-left: size(5);
}

// ## Article Divider
// ------------------

.c-article__divider {
    margin-top: size(4);
    margin-bottom: size(4);
    border: 0;
    border-bottom: 1px solid color('border');
}

// ## Article Related
// ------------------

.c-article__related {
    &>h2 {
        @include font('title-large');

        margin-top: 0;
    }

    &>ul {
        margin-top: 0;
        margin-bottom: 0;

        &>li {

            &>a {
                &>svg {
                    display: inline-block;
                    margin-left: size(0.5);
                }
            }
        }
    }
}