// # Avatar
// ========

.c-avatar {
    display: flex;

    @include below('bp-sm') {
        flex-direction: column;
    }
}

// .c-avatar--sm {}

.c-avatar--lg {
    @include below('bp-lg') {
        flex-direction: column;
    }
}

// ## Avatar Image
// ---------------

$avatar-image-lg: size(320px);
$avatar-image: size(160px);
$avatar-image-md: size(120px);
$avatar-image-sm: size(80px);
$avatar-image-xs: size(40px);
.c-avatar__image {
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;

    .c-avatar--lg & {
        @include below('bp-lg') {
            margin: size(0) auto;
        }
    }

    .c-avatar--card & {
        @include below('bp-sm') {
            margin: size(1) auto;
        }
    }

    img {
        @include elevation(1);

        display: block;
        width: $avatar-image;
        max-width: 100%;
        height: auto;
        padding: size(1);
        background-color: color('background');
        // border: 1px solid color('border-light');
        border-radius: 50%;

        .c-avatar--xs & {
            width: $avatar-image-xs;
            padding: size(0.25);
        }

        .c-avatar--sm & {
            width: $avatar-image-sm;
            padding: size(0.5);
        }

        .c-avatar--md & {
            width: $avatar-image-md;
            padding: size(0.75);
        }

        .c-avatar--lg & {
            width: $avatar-image-lg;
        }

        .c-avatar--card & {
            @include below('bp-sm') {
                width: $avatar-image * 1.25;
            }
        }
    }
}

// ## Avatar Details
// -----------------

.c-avatar__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-left: size(3);

    @include below('bp-sm') {
        padding-top: size(2);
        padding-left: 0;
    }

    .c-avatar--lg & {
        padding-left: size(4);

        @include below('bp-lg') {
            padding-left: 0;
            padding-top: size(3);
        }
    }
}

// ## Avatar Name
// --------------

.c-avatar__name {
    @include font('title-large');
    margin-top: 0;
    margin-bottom: 0;

    .c-avatar--lg & {
        @include font('display-large');
        margin-bottom: size(2);
    }
}

// ## Avatar Link
// --------------

.c-avatar__link {
    @include transition('color' 'text-decoration');

    color: color('blue-10');
    text-decoration: none;

    &:focus,
    &:hover {
        color: color('blue');
    }
}

// # Avatar Meta
// =============

.c-avatar__meta {
    margin: size(1) 0 0;
}

// ## Avatar Info
// --------------

.c-avatar__info {
    @include elevation(1);

    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: size(1.5);
    padding-bottom: size(1.5);
    margin-top: size(3);
    background-color: color('background');
    border-radius: size('radius' 3);

    & > div {
        display: grid;
        grid-template-columns: subgrid;
        gap: size(3);
        grid-column: span 2;
        align-items: baseline;
        padding: size(1.5) size(3);
        border-bottom: 1px solid color('border-light');

        @include below('bp-sm') {
            grid-template-columns: 1fr;
            gap: 0;
        }

        & > div {
            display: flex;

            &:first-child {
                width: fit-content;
                max-width: fit-content;
                color: color('font-muted');
            }

            a {
                color: color('font');
                text-decoration: none;
                pointer-events: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

// ## Avatar Actions
// -----------------

.c-avatar__actions {
    display: flex;
    align-items: center;
    margin: size(2) negative(0.5) negative(0.5);

    @include below('bp-xs') {
        flex-direction: column;
        align-items: stretch;
    }

    & > * {
        margin: size(0.5);

        @include below('bp-sm') {
            flex-basis: 50%;
            flex-grow: 1;
        }
    }
}
