// # Avatar
// ========

.c-avatar {
    display: flex;

    @include below('bp-sm') {
        flex-direction: column;
    }
}

// .c-avatar--sm {}

// .c-avatar--lg {}

// ## Avatar Image
// ---------------

$avatar-image-lg: size(320px);
$avatar-image: size(160px);
$avatar-image-md: size(120px);
$avatar-image-sm: size(80px);
$avatar-image-xs: size(40px);
.c-avatar__image {
    // flex-shrink: 1;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;

    .c-avatar--card & {
        @include below('bp-sm') {
            // align-self: center;
            margin: size(1) auto;
        }
    }

    img {
        @include elevation(1);

        display: block;
        width: $avatar-image;
        max-width: 100%;
        height: auto;
        padding: size(1);
        background-color: color('background');
        // border: 1px solid color('border-light');
        border-radius: 50%;

        .c-avatar--xs & {
            width: $avatar-image-xs;
            padding: size(0.25);
        }

        .c-avatar--sm & {
            width: $avatar-image-sm;
            padding: size(0.5);
        }

        .c-avatar--md & {
            width: $avatar-image-md;
            padding: size(0.75);
        }

        .c-avatar--lg & {
            width: $avatar-image-lg;
        }
    }
}

// ## Avatar Details
// -----------------

.c-avatar__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding-left: size(3);

    @include below('bp-sm') {
        margin-top: size(2);
        padding-left: 0;
    }
}

// ## Avatar Name
// --------------

.c-avatar__name {
    @include font('title-large');
    margin-top: 0;
    margin-bottom: 0;
}

// ## Avatar Link
// --------------

.c-avatar__link {
    @include transition('color' 'text-decoration');

    color: color('blue-10');
    text-decoration: none;

    &:focus,
    &:hover {
        color: color('blue');
    }
}

// # Avatar Info
// =============

.c-avatar__info {
    margin: size(1) 0 0;
    // display: table;
}

// ## Avatar Meta Icon
// -------------------

.c-avatar__meta-icon {
}

// ## Avatar Actions
// -----------------

.c-avatar__actions {
    display: flex;
    align-items: center;
    margin: size(2) negative(0.5) negative(0.5);

    @include below('bp-xs') {
        flex-direction: column;
        align-items: stretch;
    }

    & > * {
        margin: size(0.5);

        @include below('bp-sm') {
            flex-basis: 50%;
            flex-grow: 1;
        }
    }
}
