// # Banner
// --------

$banner-padding: size('section-padding');

.c-banner {
    display: flex;
    justify-content: center;
    padding-top: $banner-padding;
    padding-bottom: $banner-padding;
    color: color('light');
    background-color: color('chathams-blue');
}

.c-banner--small {
    padding-top: size(3);
    padding-bottom: size(3);
}

// ## Banner Container
// -------------------

// .c-banner__container {}

// ## Banner Row
// -------------

.c-banner__row {
    justify-content: center;

    .c-banner--small & {
        justify-content: flex-start;
        align-items: center;
    }
}

// ## Banner Content
// -----------------

.c-banner__content {
    max-width: 10 / 12 * 100%;
    text-align: center;
}

// ## Banner Name
// --------------

.c-banner__name {
    text-transform: uppercase;
}

// ## Banner Title
// ---------------

.c-banner__title {
    @include font('display-small');

    margin-top: 0;
}

// ## Banner Body
// --------------

.c-banner__body {
    margin-bottom: size(3);
    
    &>:last-child {
        margin-bottom: 0;
    }

    .c-banner--small & {
        margin-bottom: 0;
    }
}

// ## Banner Links
// ---------------

.c-banner__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

// ## Banner Link
// --------------

.c-banner__link {
    color: color('navy-blue-10');
    background-color: color('light');
}
