// # Breadcrumb
// ============

// .c-breadcrumb {}

// ## Breadcrumb Items
// -------------------

.c-breadcrumb__items {
    @include font('label-large');

    display: flex;
    align-items: center;
    margin: 0;
    padding: size(2) 0;
    list-style: none;
}

// ## Breadcrumb Item
// ------------------

$item-bullet-size: size(0.75);

.c-breadcrumb__item {
    display: flex;
    flex-grow: 1;
    width: 0;
    max-width: fit-content;

    & + li {
        position: relative;
        margin-left: size(3.75);

        @include before(null) {
            content: url(image-data('navigate-next'));
            position: absolute;
            top: size(0.125);
            left: negative(2.125);
            transform: scale(0.8);
            opacity: size('opacity' 7);
        }
    }
}

// ## Breadcrumb Link
// ------------------

.c-breadcrumb__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 100%;
}

// ## Breadcrumb Icon
// ------------------

.c-breadcrumb__icon {
    flex-shrink: 0;
    margin-right: size(0.5);
    font-size: size(2.5);
}

// ## Breadcrumb Label
// -------------------

.c-breadcrumb__label {
    @include truncate-text();
}
