// # Buttons
// =========

.c-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    // margin: size(3) negative(0.5) negative(0.5);

    >a {
        margin: size(0.5);
    }
}

$buttons-margin: size(3) negative(0.5) negative(0.5);

.c-buttons--more-link {
    margin: $buttons-margin;
}

.c-buttons--block-links {
    margin: $buttons-margin;
}