// # Content item
// ==============

.c-content-item {
    position: relative;
    z-index: 0;
    display: flex;
}

$card-image-width: size('card-image-width');
$card-image-height: size('card-image-height');
$card-item-bg-color: rgba(color('blue'), size('opacity' 1));
// $card-item-bg-color: color('blue-95');
// $card-item-bg-color: color('abbey-95');
// $card-item-bg-color: color('light');
// $card-item-bg-color: transparent;
$card-item-border-color: rgba(color('blue'), size('opacity' 4));
// $card-item-border-color: color('blue-90');
// $card-item-border-color: color('border');
$card-item-radius: size('radius' 3);

.c-content-item--card {
    @include transition('box-shadow');
    // @include elevation(1);

    flex-direction: column;
    flex-grow: 1;
    background-color: color('light');
    border: 1px solid $card-item-border-color;
    border-radius: $card-item-radius;

    &:hover {
        @include elevation(3);

        img {
            transform: scale(1.05);
        }
    }

    @include before('') {
        @include stretch();

        z-index: -1;
        background-color: $card-item-bg-color;
        border-radius: $card-item-radius;
    }
}

// ## Content Item Head
// --------------------

.c-content-item__head {
    border-bottom: 1px solid $card-item-border-color;
}

// ## Content Item Toolbar
// -----------------------

$toolbar-padding: size(2);

.c-content-item__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $toolbar-padding;

    .c-content-item--card.c-content-item--with-image & {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        background: linear-gradient(
            180deg,
            rgba(color('dark'), 0.48) 0%,
            rgba(color('dark'), 0) 100%
        );
        border-radius: $card-item-radius $card-item-radius 0 0;
    }

    .c-content-item--card.c-content-item--without-image & {
        position: relative;
        margin-top: -1px;
        margin-right: -1px;
        margin-left: -1px;
    }

    a {
        @include z-index('local2');

        position: relative;
    }
}

// ## Content Item Category
// ------------------------

$category-icon-size: size(2.25);

.c-content-item__category {
    @include font('label-large');

    display: flex;
    align-items: center;
    padding: size(0.75) size(1.5);
    color: color('light');
    background-color: color('orange');
    border-radius: size(2);

    & > svg {
        width: $category-icon-size;
        height: $category-icon-size;
        margin-right: size(1);
    }
}

// ## Content Item Body
// --------------------

.c-content-item__body {
    flex-grow: 1;

    .c-content-item--card & {
        padding: size(2);
    }
}

// ## Content Item Meta
// --------------------

$meta-icon-size: size(2.25);

.c-content-item__meta {
    @include font('body-medium');

    margin-top: 0;
    margin-bottom: size(1);
    color: color('font-muted');
}

// ## Content Item Meta Item
// -------------------------

$meta-item-inline-separator-spacer: size(0.5);

.c-content-item__meta-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: size(0.25);

    &:last-child {
        margin-bottom: 0;
    }

    & > div {
        display: flex;
        align-items: start;

        dt {
            display: flex;
            flex-shrink: 0;

            svg {
                flex-shrink: 0;
                width: $meta-icon-size;
                height: $meta-icon-size;
                margin-top: size(0.25);
                margin-right: size(1);
            }

            span {
                @include hide-visually();
            }
        }

        dd {
            display: flex;
            margin-left: 0;
        }
    }

    & > div + div {
        @include before(attr(data-separator)) {
            margin-right: $meta-item-inline-separator-spacer;
            margin-left: $meta-item-inline-separator-spacer;
        }
    }
}

// ## Content Item Media
// ---------------------

.c-content-item__media {
    figure {
        margin: 0;

        .c-content-item--card & {
            // min-width: size('card-item-min-width');
            // margin: -1px -1px 0;
            border-radius: $card-item-radius $card-item-radius 0 0;
            overflow: hidden;
            // background-color: color('dark');
        }

        img {
            @include transition('transform');

            display: block;
            // max-width: 100%;
            width: 100%;
            height: auto;
            // opacity: size('opacity' 8);
        }

        & > figcaption {
            display: none;
        }
    }
}

// ## Content Item Title
// ---------------------
// .c-content-item__field--title,
.c-content-item__title {
    @include font('title-large');

    margin-top: 0;
    margin-bottom: 0;
    font-size: size(2.25);
}

// ## Content Item Description
// ---------------------------
// .c-content-item__field--field-description,
.c-content-item__description {
    margin-top: size(1);

    p {
        margin-bottom: 0;
    }

    .c-content-item--card.c-content-item--with-image & {
        display: none;
    }
}

.c-content-item__field--field-location {
    .c-content-item__field-content {
        // @include truncate-text();

        word-break: break-all;
    }
}

.c-content-item__field--field-author {
    .c-content-item__field-content {
        // @include truncate-text();

        word-break: break-all;
    }
}

.c-content-item__share {
    .addtoany_list {
        $spacing: size(0.25);

        // margin-right: negative($spacing);
        // margin-left: negative($spacing);

        & > a {
            $button-size: size(4);

            display: none;
            width: $button-size;
            height: $button-size;
            margin-right: $spacing;
            margin-left: $spacing;

            &:last-child {
                display: flex;
            }

            svg {
                $icon-size: size(2.5);

                width: $icon-size;
                height: $icon-size;
            }
        }
    }

    .c-content-item--card.c-content-item--with-image & {
        .addtoany_list {
            & > a {
                @include before(null) {
                    background-color: rgba(color('light'), 0.48);
                }

                color: color('abbey-10');

                &:not(:disabled):not(.is-disabled):hover {
                    @include before(null) {
                        background-color: rgba(color('light'), 0.64);
                    }
                }

                &:not(:disabled):not(.is-disabled):focus {
                    @include before(null) {
                        background-color: rgba(color('light'), 0.76);
                    }
                }

                &:not(:disabled):not(.is-disabled).is-active,
                &:not(:disabled):not(.is-disabled):active {
                    @include before(null) {
                        background-color: rgba(color('light'), 0.88);
                    }
                }
            }
        }
    }
}

// ## Content Item Link
// --------------------

.c-content-item__link {
    @include transition('color' 'text-decoration');

    @include after('') {
        @include stretch(-1px);
        @include z-index('local1');

        border-radius: $card-item-radius;
    }

    display: block;
    color: color('blue-10');
    text-decoration: none;

    &:focus,
    &:hover {
        color: color('blue');
    }
}

// ## Content Item Link Icon
// -------------------------

$link-icon-size: size(4);

.c-content-item__link-icon {
    @include font('title-large');

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: size(2);
    color: color('blue');

    svg {
        @include transition('transform' 'opacity');

        width: $link-icon-size;
        height: $link-icon-size;
        padding: size(0.625);
        border-radius: 50%;
        background-color: rgba(color('blue-90'), size('opacity' 8));
        opacity: 0;
        transform: translateX(-$link-icon-size / 2);

        a:focus + &,
        a:hover + & {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
