// # Container
// ===========

// .c-container {}

.c-container--view {
    flex-grow: 1;
    background-color: color('background-alt');
}

// .c-container--views-element-container {}

.c-container--dubai-declaration {
    background-color: transparent;
}