// # Form
// ------

$padding: size('gutter');
$page-width: size('page-width');

// .c-form {}

.c-form--search-form {
    display: flex;
    justify-content: center;
    padding-top: size(2);
    padding-bottom: size(4);
    background-color: color('background-alt');

    .c-form__x-button {
        margin-left: size(1);
    }

    & > div#edit-basic {
        // display: flex;
        width: $page-width + 2 * $padding;
        max-width: 100%;
        padding-right: $padding;
        padding-left: $padding;
    }

    & > a {
        display: none;
    }

    & > details {
        display: none;
    }

    & + h2 {
        display: none;
    }

    & + h3 {
        @include font('title-large');

        padding-top: size(2);
        margin-top: 0;
        margin-bottom: size('section-padding');

        @include before('') {
            width: calc((100% - size('page-width')) / 2);
            padding-right: size('gutter');
        }

        @include after('') {
            width: calc((100% - size('page-width')) / 2);
            padding-left: size('gutter');
            margin-left: auto;
        }

        display: flex;
    }

    & ~ ol {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: size(4) 0;
        margin: 0;
        list-style-type: none;

        & > li {
            width: $page-width + 2 * $padding;
            max-width: 100%;
            padding-right: $padding;
            padding-left: $padding;
            margin-bottom: size(3);

            h3 {
                @include font('title-large');

                margin-top: 0;
            }
        }
    }

    & ~ nav {
        display: flex;
        justify-content: center;
        margin-bottom: size('section-padding');

        ul {
            justify-content: end;
            width: $page-width + 2 * $padding;
            max-width: 100%;
            padding-right: $padding;
            padding-left: $padding;
        }
    }
}

.c-form--views-exposed-form-resources-resources-view,
.c-form--views-exposed-form-activities-activities-view,
.c-form--views-exposed-form-events-events-view,
.c-form--views-exposed-form-news-news-view {
    display: flex;
    width: 100%;

    .c-form__field {
        flex-grow: 1;
        margin-bottom: 0;
    }

    .c-button {
        margin-left: size(1);
    }
}

.c-form--search-block-form {
    display: flex;
    align-items: center;
    height: 100%;

    &.is-active {
        .c-form__field {
            .js & {
                display: block;
            }
        }
    }

    .c-form__field {
        // display: none;
        margin-bottom: 0;
        margin-left: size(1);
        margin-right: size(1);

        .js & {
            display: none;
        }
    }

    .c-form__container {
        margin-left: size(1);
    }
}

.c-form--user-register-form,
.c-form--user-pass,
.c-form--user-login-form {
    // @include elevation(2);

    $icon-size: size(6);

    max-width: size(464px);
    background-color: color('background-alt');
    border: 1px solid color('border');
    border-radius: size('radius' 3);

    .c-form__header {
        padding: size(4) size(3) size(1);
    }

    .c-form__title {
        @include font('title-large');

        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .c-form__description {
        margin-top: size(2);

        & > p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .c-form__icon {
        display: flex;
        justify-content: center;
        margin-bottom: size(2);

        & > svg {
            width: size($icon-size);
            height: size($icon-size);
            color: color('fuchsia');
        }
    }

    .c-form__body {
        padding: size(3) size(3) size(4);
    }

    .c-form__field {
        margin-bottom: size(3);
    }

    .c-form__button {
        width: 100%;
    }
}

.c-form--comment-form {
    // .c-form__radios,
    .c-form__checkboxes {
        display: flex;

        .c-form__field {
            margin-right: size(4);
        }
    }

    .c-article + & {
        max-width: size(1440px);
        padding-right: size(366px);
        padding-bottom: size(10);
        margin-left: auto;
        margin-right: auto;
    }
}

// ## Form Header

.c-form__header {
}

// ## Form Title

.c-form__title {
}

// ## Form Icon

.c-form__icon {
}

// ## Form Description

.c-form__description {
}

// ## Form Body

.c-form__body {
}

// ## Form Fieldset
// ----------------

.c-form__fieldset {
    box-sizing: border-box;
    margin-left: 0;
}

// ## Form Legend
// --------------

.c-form__legend {
    @include font('title-medium');

    margin-bottom: size(2);
}

// ## Form Fieldset Wrapper
// ------------------------

.c-form__fieldset-wrapper {
}

// ## Form Checkboxes
// ------------------

.c-form__checkboxes {
}

// ## Form Radios
// --------------

.c-form__radios {
}

// ## Form Container
// -----------------

.c-form__container {
}

// ## Form Group
// -------------

.c-form__group {
    display: flex;
    margin-right: negative(size(1));
    margin-left: negative(size(1));

    & > * {
        flex-grow: 1;
        flex-basis: 0;
        margin-right: size(1);
        margin-left: size(1);
    }
}

// ## Form Field
// -------------

.c-form__field {
    position: relative;
    margin-bottom: size(2);
}

// ## Form Field Prefix
// --------------------

.c-form__field-prefix {
}

// ## Form Field Suffix
// --------------------

.c-form__field-suffix {
}

// ## Form Label
// -------------

$label-offset-y-active: negative(1.125);
$label-fs-active: size(1.5);
$label-color-active: color('active');
$label-bg-offset: size(0.5);

.c-form__label {
    @include transition('all');
    @include font('body-large');

    // position: absolute;
    // pointer-events: none;
    // top: 1.5rem;
    // left: 0;

    &[for='edit-field-comment-action-area-i-0-value'],
    &[for='edit-field-comment-action-area-ii-0-value'],
    &[for='edit-field-comment-action-area-iii-0-value'],
    &[for='edit-field-comment-action-area-iv-0-value'],
    &[for='edit-field-comment-action-area-v-0-value'],
    &[for='edit-comment-body-0-value--2'],
    &[for='edit-comment-body-0-value'] {
        @include hide-visually();
    }
}

// ## Form Control
// ---------------

.c-form__control {
    position: relative;
}

// ## Form Input
// -------------

$input-padding-x: size('input-padding-x');
$input-padding-y: size('input-padding-y');
$input-border-width: size('input-border-width', 'px');
$input-outline-width: 2 * $input-border-width;
$input-border-radius: size('radius' 1);

.c-form__input {
    @include font('body-large');
    @include transition('outline-color');

    width: 100%;
    padding: $input-padding-y $input-padding-x;
    color: color('font');
    border: $input-border-width solid color('border');
    border-radius: $input-border-radius;
    outline: none;

    &:focus {
        outline: $input-outline-width solid color('focus');
        outline-offset: -$input-outline-width;
    }

    &:autofill {
        box-shadow: 0 0 0 size(1000px) color('autofill') inset;
    }

    // &:invalid {
    //     outline-color: color('error');
    // }

    & ~ label {
        position: absolute;
        display: flex;
        pointer-events: none;
        padding-left: $label-bg-offset;
        padding-right: $label-bg-offset;
        top: 0;
        left: 0;
        max-width: calc(100% - #{2 * $input-padding-x});
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: $input-border-radius;
        transform-origin: top left;
        transform: translate(
                $input-padding-x + size($input-border-width) - $label-bg-offset,
                $input-padding-y + size($input-border-width)
            )
            scale(1);

        @include before('') {
            @include transition('opacity' 'height');

            position: absolute;
            left: 0;
            bottom: $input-border-width;
            right: 0;
            z-index: 0;
            height: 100%;
            background-color: color('background');
            opacity: 0;
        }

        & > span {
            position: relative;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &:autofill ~ label,
    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
        color: $label-color-active;
        transform: translate(
                $input-padding-x + size($input-border-width) - $label-bg-offset,
                negative(1) - size($input-border-width)
            )
            scale(0.75);

        @include before(null) {
            height: 50%;
            opacity: 1;
        }
    }

    &:autofill ~ label {
        @include before(null) {
            background-color: color('autofill');
        }
    }

    &:required ~ label {
        &::after {
            content: '*';
            position: relative;
            color: color('error');
            margin-left: size(0.25);
        }
    }
}

$input-padding-x-small: size('input-padding-x-small');
$input-padding-y-small: size('input-padding-y-small');

.c-form__input--small {
    padding: $input-padding-y-small $input-padding-x-small;

    & ~ label {
        max-width: calc(100% - #{2 * $input-padding-x-small});
        transform: translate(
                $input-padding-x-small + size($input-border-width) - $label-bg-offset,
                $input-padding-y-small + size($input-border-width)
            )
            scale(1);

        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
            transform: translate(
                    $input-padding-x-small + size($input-border-width) - $label-bg-offset,
                    negative(1) - size($input-border-width)
                )
                scale(0.75);
        }
    }
}

// ## Form Checkbox
// ----------------

$checkbox-size: size('checkbox-size');
$checkbox-bg-size: size('checkbox-bg-size');

.c-form__checkbox {
    @include hide-visually();

    &:not(:disabled):hover {
        & ~ label {
            @include before(null) {
                border-color: color('checkbox-border-alt');
            }

            @include after(null) {
                background-color: rgba(color('checkbox-bg'), size('opacity' 1));
            }
        }
    }

    &:not(:disabled):active,
    &:not(:disabled):focus {
        & ~ label {
            @include before(null) {
                border-color: color('checkbox-border-alt');
            }

            @include after(null) {
                background-color: rgba(color('checkbox-bg'), size('opacity' 2));
            }
        }
    }

    &:checked {
        &:not(:disabled) ~ label {
            @include before(null) {
                content: url(image-data('check-small'));
                background-color: color('active');
                border-color: color('active');
            }
        }

        &:not(:disabled):hover ~ label {
            @include after(null) {
                background-color: rgba(color('active'), size('opacity' 1));
            }
        }

        &:not(:disabled):active ~ label,
        &:not(:disabled):focus ~ label {
            @include after(null) {
                background-color: rgba(color('active'), size('opacity' 2));
            }
        }

        &:disabled ~ label {
            @include before(null) {
                content: url(image-data('check-small'));
                background-color: color('disabled');
                border-color: color('disabled');
            }
        }
    }

    &:disabled {
        & ~ label {
            @include before(null) {
                border-color: color('disabled');
                opacity: size('opacity' 5);
            }
        }
    }

    & ~ label {
        display: flex;
        align-items: flex-start;
        width: fit-content;

        @include before('') {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: $checkbox-size;
            height: $checkbox-size;
            margin-top: size(0.375);
            margin-right: size(1.5);
            margin-bottom: size(0.375);
            border: size('checkbox-border-width', 'px') solid color('checkbox-border');
            border-radius: size('checkbox-border-radius');
        }

        @include after('') {
            @include transition('background-color');

            position: absolute;
            top: negative(size(8px));
            left: negative(size(11px));
            z-index: -1;
            display: block;
            width: $checkbox-bg-size;
            height: $checkbox-bg-size;
            background-color: transparent;
            border-radius: 50%;
        }
    }
}

// ## Form Radio
// -------------

$radio-size: size('radio-size');
$radio-bg-size: size('radio-bg-size');

.c-form__radio {
    @include hide-visually();

    &:not(:disabled):hover {
        & ~ label {
            @include before(null) {
                outline-color: color('checkbox-border-alt');
            }

            @include after(null) {
                background-color: rgba(color('checkbox-bg'), size('opacity' 1));
            }
        }
    }

    &:not(:disabled):active,
    &:not(:disabled):focus {
        & ~ label {
            @include before(null) {
                outline-color: color('checkbox-border-alt');
            }

            @include after(null) {
                background-color: rgba(color('checkbox-bg'), size('opacity' 2));
            }
        }
    }

    &:checked {
        &:not(:disabled) ~ label {
            @include before(null) {
                background-color: color('active');
                outline-color: color('active');
            }
        }

        &:not(:disabled):hover ~ label {
            @include after(null) {
                background-color: rgba(color('active'), size('opacity' 1));
            }
        }

        &:not(:disabled):active ~ label,
        &:not(:disabled):focus ~ label {
            @include after(null) {
                background-color: rgba(color('active'), size('opacity' 2));
            }
        }

        &:disabled ~ label {
            @include before(null) {
                background-color: color('disabled');
                outline-color: color('disabled');
            }
        }
    }

    &:disabled {
        & ~ label {
            @include before(null) {
                outline-color: color('disabled');
                opacity: size('opacity' 5);
            }
        }
    }

    & ~ label {
        display: flex;
        align-items: flex-start;
        width: fit-content;

        @include before('') {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: $radio-size;
            height: $radio-size;
            margin: size(0.875) size(2) size(0.875) size(0.625);
            outline: size('radio-border-width', 'px') solid color('checkbox-border');
            outline-offset: size(3px);
            border-radius: 50%;
        }

        @include after('') {
            @include transition('background-color');

            position: absolute;
            top: negative(size(8px));
            left: negative(size(10px));
            z-index: -1;
            display: block;
            width: $radio-bg-size;
            height: $radio-bg-size;
            background-color: transparent;
            border-radius: 50%;
        }
    }
}

// ## Form Textarea
// ----------------

.c-form__textarea {
    @extend .c-form__input;

    min-height: size(13);
    resize: vertical;
}

// ## Form Select
// --------------

.c-form__select {
    @extend .c-form__input;

    appearance: none;
    padding-right: size('select-padding-right');
    background-image: url(image-data('arrow-drop-down'));
    background-repeat: no-repeat;
    background-position: right size(2) center;
}

// ## Form Field Description
// -------------------------

.c-form__field-description {
    @include font('body-small');

    padding: size(0.5) size(2) 0;
    color: color('font-muted');
}

// ## Form Field Error
// -------------------

.c-form__fiel-error {
}

// ## Form Actions
// ---------------

.c-form__actions {
}

// ## Form Button
// --------------

.c-form__button {
}
