// # Language switcher
// ===================

.c-language-switcher {
    position: relative;
    // display: none;
    &:hover {
        ul {
            display: block;
        }
    }
}

.c-language-switcher__active {
    display: block;
    padding: size(1.25) size(2);
    color: color('font-light');
    text-decoration: none;
    border-right: 1px solid rgba(255, 255, 255, 0.24);
    border-left: 1px solid rgba(255, 255, 255, 0.24);
}

.c-language-switcher__links {
    position: absolute;
    display: none;
    min-width: 100%;
    padding: size(1.5) 0;
    margin: 0;
    list-style-type: none;
    background-color: color('blue-95');
    border-end-end-radius: size('radius-xs');
    border-end-start-radius: size('radius-xs');
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.c-language-switcher__link {
    padding: size(1) size(2);
}
