// # Page Header
// =============

.c-page-header {
    @include z-index('header');
    
    position: sticky;
    top: 0;
}

// ## Page Header Top
// ------------------

.c-page-header__top {
    @include font('body-medium');

    display: flex;
    justify-content: center;
    color: color('light');
    background-color: color('background-dark');
}

// ## Page Header Bottom
// ----------------------

.c-page-header__bottom {
    display: flex;
    justify-content: center;
    background-color: color('background');
    border-bottom: 1px solid color('divider');

    // & > .o-container {
    //     // display: flex;
    //     // align-items: center;

    //     & > .o-block {
    //         &:first-child {
    //             margin-right: size('gutter') * 2;
    //         }

    //         &:nth-child(2) {
    //             margin-right: size('gutter');
    //         }

    //         &:nth-child(3) {
    //             margin-left: auto;
    //         }

    //         &:nth-child(n + 4) {
    //             margin-left: size(1);
    //         }
    //     }
    // }
}

// ## Page Header Container
// ------------------------

.c-page-header__container {
    display: flex;
    // align-items: center;
}

.c-page-header__container--top {
    & > div:first-child {
        margin-right: size('gutter');
    }

    & > nav {
        margin-left: auto;
    }
}

.c-page-header__container--bottom {
    & > div:first-child {
        margin-right: size('gutter') * 2;
    }

    & > nav:nth-child(2) {
        margin-right: size('gutter');
    }

    & > div:nth-child(3) {
        margin-left: auto;
    }

    & > *:nth-child(n + 4) {
        margin-left: size(1);
    }
}
