// # Section
// =========

$section-padding: size('section-padding-small');

.c-section {
    display: flex;
    justify-content: center;
    padding-top: $section-padding;
    padding-bottom: $section-padding;
}

.c-section--alt {
    background-color: color('background-alt');
}

.c-section--breadcrumb {
    padding-top: 0;
    padding-bottom: 0;
    // background-color: color('background-alt');
    // background-color: color('abbey-90');
    // border-bottom: 1px solid color('light');
}

.c-section--who-we-are {
    background-color: color('background-alt');
}

.c-section--dc-areas-of-action {
    background-color: color('background-alt');
}

.c-section--latest-news {
    background-color: color('background-alt');
}

// .c-section--upcoming-events {
//     background-color: color('background-alt');
// }

// ## Section Container
// --------------------

// .c-section__container {}

// ## Section Row
// --------------

// .c-section__row {}

// ## Section Content
// ------------------

// .c-section__content {}
