// # Site Branding
// ===============

.c-site-branding {
    display: flex;
    // flex-shrink: 1;
    align-items: center;
    // overflow: hidden;

    @include below('bp-xs') {
        @include hide-visually();
    }
}

// ## Site Branding Logo
// ---------------------

.c-site-branding__logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 100%;
    min-width: 72px;

    img {
        display: inline-block;
    }

    @include below('bp-sm') {
        width: 48px;
        overflow: hidden;
    }
}

// ## Site Branding Name
// ---------------------

$name-padding-y: size(1.25);

.c-site-branding__name {
    @include truncate-text();

    // display: flex;
    // flex-shrink: 1;
    // align-items: center;
    height: 100%;
    padding-top: $name-padding-y;
    padding-bottom: $name-padding-y;
    color: color('font-light');
    text-decoration: none;
}
