// # Site Branding
// ===============

.c-site-branding {
    display: flex;
    align-items: center;
}

// ## Site Branding Logo
// ---------------------

.c-site-branding__logo {
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 72px;

    img {
        display: inline-block;
    }
}

// ## Site Branding Name
// ---------------------

$name-padding-y: size(1.25);

.c-site-branding__name {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: $name-padding-y;
    padding-bottom: $name-padding-y;
    color: color('font-light');
    text-decoration: none;
}
