// # User Details
// ==============

.c-user-details {
    display: flex;

    @include below('bp-lg') {
        flex-direction: column;
    }
}

.c-user-details--profile {
    margin-top: negative(size(16));
}

// ## User Details Avatar
// ----------------------

.c-user-details__avatar {
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 100%;
    padding-right: size(3);

    img {
        @include elevation(1);

        display: block;
        height: auto;
        background-color: color('background');
        border: size(1) solid color('background');
        border-radius: 50%;
    }

    .c-user-details--profile & {
        margin-top: negative(size(16));

        @include below('bp-lg') {
            margin-top: 0;

            img {
                max-width: 100%;
            }
        }
    }
}

// ## User Details Info
// --------------------

.c-user-details__info {
    @include elevation(1);

    display: table;
    flex-grow: 1;
    padding-top: size(1.5);
    padding-bottom: size(1.5);
    background-color: color('background');
    border-radius: size('radius' 3);

    & > div {
        display: table-row;

        & > div {
            display: table-cell;
            padding: size(1.5) size(3);
            border-bottom: 1px solid rgba(color('border'), size('opacity' 5));

            &:first-child {
                @include after(':');

                width: fit-content;
                max-width: fit-content;
                color: color('font-muted');
            }

            a {
                color: color('font');
                text-decoration: none;
                pointer-events: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &:last-child {
            & > div {
                border-bottom: 0;
            }
        }
    }

    @include below('bp-lg') {
        margin-top: size(3);
    }
}
