// # Ajax Progress
// # =============

$progress-size: size(6);

.ajax-progress-fullscreen {
    @include elevation(2);

    position: fixed;
    z-index: z-index('loader');
    top: 50%;
    left: 50%;
    margin-top: negative($progress-size / 2);
    margin-left: negative($progress-size / 2);
    width: $progress-size;
    height: $progress-size;
    background: color('light');
    border: 4px solid color('light');
    border-radius: 50%;
    background-image: url(image-data('progress'));
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

.ajax-progress-throbber {
    display: flex;
    align-items: center;
    gap: size(1);
    margin: size(0.5) 0;

    .throbber {
        width: size(2.5);
        height: size(2.5);
        background-image: url(image-data('progress'));
        background-repeat: no-repeat;
        background-size: contain;
    }

    // .message {
    //     @include hide-visually();
    // }
}
