// # Overrides
// ===========

// ## Admin Toolbar
// ----------------
body.toolbar-vertical.toolbar-fixed,
html.toolbar-vertical.toolbar-fixed {
    margin-left: 0;
    .o-off-canvas-page-wrapper {
        @include above(976px) {
            margin-left: var(--drupal-displace-offset-left);
        }
    }
}

.admin-toolbar {
    .toolbar-menu__item {
        &:not(:has(.toolbar-menu__item--has-dropdown))[data-url=''] {
            display: none;
        }
    }
}

// # Contextual Links
// ------------------
.contextual {
    top: size(2px);

    button.trigger {
        right: size(2px);
        width: size(3) !important;
        height: size(3) !important;

        &:focus,
        &:hover {
            box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 2px var(--gin-color-focus);
        }
    }
}

// # Drupal Messages
// -----------------

// div[data-drupal-messages] {}

// .messages__wrapper {}

$messages-item-padding-x: max(calc((100% - size('page-width')) / 2), size(3));

.messages {
    @extend .c-status-messages__item;

    display: block;
    padding-top: size(2);
    padding-bottom: size(2);
    padding-left: $messages-item-padding-x;
    padding-right: $messages-item-padding-x;

    & + & {
        border-top-width: 0;
    }
}

.messages--status {
    @extend .c-status-messages__item--status;
}

.messages--error {
    @extend .c-status-messages__item--error;
}

.messages--warning {
    @extend .c-status-messages__item--warning;
}

// # Symfony Dump
// --------------

pre.sf-dump,
pre.sf-dump .sf-dump-default {
    position: static !important;
}
