pre.sf-dump,
pre.sf-dump .sf-dump-default {
    position: static !important;
}

.contextual {
    top: size(2px);

    button.trigger {
        right: size(2px);
        width: size(3) !important;
        height: size(3) !important;

        &:focus,
        &:hover {
            box-shadow: 0 0 0 1px var(--gin-color-focus-border), 0 0 0 2px var(--gin-color-focus);
        }
    }
}


div[data-drupal-messages] {
    // @extend .o-container;

    // margin-right: auto;
    // margin-left: auto;

    color: color('blue-10');
    background-color: rgba(color('blue'), size('opacity' 2));
    border-color: rgba(color('blue'), size('opacity' 3));
}

.messages__wrapper {}

.messages {}

.messages--status {
    padding-top: size(2);
    padding-bottom: size(2);
    color: color('blue-10');
    background-color: rgba(color('blue'), size('opacity' 2));
    border-color: rgba(color('blue'), size('opacity' 3));
}
