// # Select2
// =========

// .select2 {}

// ## Container
// ------------

// .select2-container {}

// .select2-container--open {}

// .select2-container--default {}

// ## Selection
// ------------

.select2-selection {
    @extend .c-form__select;

    height: auto !important;
    background-image: none !important;
    border-color: color('border') !important;
    border-radius: size('input-border-radius') !important;
}

.select2-selection--multiple {
    padding: size(7px) size(2) !important;
}

.select2-selection__rendered {
    padding: 0 !important;
    line-height: 1.5 !important;

    .select2-selection--multiple & {
        display: block !important;
        width: auto !important;

        margin: 0 negative(0.5) !important;
        display: flex !important;
        flex-wrap: wrap;
    }
}

.select2-selection__choice {
    .select2-selection--multiple & {
        @include font('label-large');

        display: flex;
        align-items: start;
        margin: size(0.5) !important;
        padding: size(0.75) size(1.5) size(0.75) size(0.75) !important;
        background-color: rgba(color('menu-link-bg'), size('opacity' 3)) !important;
        border-width: 0 !important;
        border-radius: size('radius' 4) !important;
    }
}

.select2-selection__choice__remove {
    .select2-selection--multiple & {
        @include transition('background-color');

        padding: size(0.625) !important;
        margin-top: negative(0.25);
        margin-bottom: negative(0.25);
        margin-right: size(1) !important;
        line-height: 0;
        font-size: 0;
        transform: scale(0.825);
        border-radius: 50%;
        background-color: color('light');

        @include before(null) {
            content: url(image-data('close'));
        }

        &:hover {
            background-color: rgba(color('red'), size('opacity' 5));
        }
    }
}
.select2-container--default .select2-selection__clear {
    @include transition('background-color');

    margin-left: auto;
    padding: size(0.625);
    font-size: 0;
    line-height: 0;
    transform: scale(0.825);
    border-radius: 50%;

    @include before(null) {
        content: url(image-data('close'));
    }

    // &:hover {
    //     background-color: rgba(color('red'), size('opacity' 5));
    // }
}

.select2-selection__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 2px) !important;
    width: size('select-padding-right') !important;
    border-top-right-radius: size('input-border-radius') !important;
    border-bottom-right-radius: size('input-border-radius') !important;

    & > b {
        @include transition('transform');

        position: static !important;
        display: block;
        width: auto !important;
        height: auto !important;
        margin: 0 !important;
        line-height: 0;
        border: none !important;

        @include before {
            content: url(image-data('arrow-drop-down'));
            display: block;
        }

        .select2-container--open & {
            transform: rotate(180deg);
        }
    }
}

// ## Dropdown
// -----------

.select2-dropdown {
    @extend .c-menu;
    @include elevation(3, true);

    background-color: color('light') !important;
    border-radius: size('menu-radius') !important;
}

// .select2-dropdown--above {}

// .select2-dropdown--below {}

// ## Search
// ---------

.select2-search {
    padding: size(0.5) size(1.5) size(1.5) !important;
    border-bottom: 1px solid color('border');
}

.select2-search--inline {
    .select2-selection--multiple & {
        padding: size(1) 0 !important;
        margin: 0 size(0.5) !important;
        border-bottom: 0 !important;

        &:first-child {
            width: 100% !important;

            input {
                width: 100% !important;
            }
        }
    }
}

// .select2-search--dropdown {}

.select2-search__field {
    @extend .c-form__input;
    @extend .c-form__input--small;

    padding: size('input-padding-y-small') size(1.5) !important;

    .select2-search--inline & {
        padding: 0 !important;
        margin: 0 !important;
    }
}

// ## Results
// -----------

.select2-results {
    padding: 0 !important;
}

.select2-results__options {
    @extend .c-menu__items;
}

.select2-results__option {
    @extend .c-menu__link;

    padding: size(1) size(1.5) !important;

    @include before() {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: size('icon');
        height: size('icon');
        margin-right: size(1.5);
        line-height: 0;
    }

    &[aria-selected='true'] {
        background-color: rgba(color('menu-link-bg'), size('opacity' 3)) !important;

        @include before(null) {
            content: url(image-data('check'));
        }
    }
}

.select2-results__option--highlighted {
    color: color('font') !important;
    background-color: rgba(color('menu-link-bg'), size('opacity' 1)) !important;
}
