// # Global settings
// =================

// ## Colors
// ---------

$colors: (
    // Palette
    'light': #fff,
    'dark': #000,

    'navy-blue': #001b59,
    'navy-blue-99': #fefbff,
    'navy-blue-95': #eff0ff,
    'navy-blue-90': #dce1ff,
    'navy-blue-80': #b5c4ff,
    'navy-blue-70': #8fa8fd,
    'navy-blue-60': #748de0,
    'navy-blue-50': #5a73c4,
    'navy-blue-40': #405aa9,
    'navy-blue-30': #264190,
    'navy-blue-20': #042978,
    'navy-blue-10': #00164d,

    'aqua': #00aaa0,
    'aqua-99': #f2fffc,
    'aqua-95': #b2fff6,
    'aqua-90': #71f7eb,
    'aqua-80': #50dbcf,
    'aqua-70': #26bfb4,
    'aqua-60': #00a298,
    'aqua-50': #00867e,
    'aqua-40': #006a64,
    'aqua-30': #00504b,
    'aqua-20': #003733,
    'aqua-10': #00201e,

    'red': #f50019,
    'red-99': #fffbff,
    'red-95': #ffedea,
    'red-90': #ffdad6,
    'red-80': #ffb4ab,
    'red-70': #ff897d,
    'red-60': #ff5449,
    'red-50': #ef0018,
    'red-40': #c00011,
    'red-30': #93000a,
    'red-20': #690005,
    'red-10': #410002,

    'orange': #e66e23,
    'orange-99': #fffbff,
    'orange-95': #ffede6,
    'orange-90': #ffdbcb,
    'orange-80': #ffb691,
    'orange-70': #ff8d4d,
    'orange-60': #e66e23,
    'orange-50': #c55604,
    'orange-40': #9e4300,
    'orange-30': #783100,
    'orange-20': #552100,
    'orange-10': #341100,

    'blue': #0069b4,
    'blue-99': #fdfcff,
    'blue-95': #eaf1ff,
    'blue-90': #d2e4ff,
    'blue-80': #a0c9ff,
    'blue-70': #68afff,
    'blue-60': #4a94e2,
    'blue-50': #287ac6,
    'blue-40': #0061a6,
    'blue-30': #00497f,
    'blue-20': #00325a,
    'blue-10': #001c37,

    'fuchsia': #b7265e,
    'fuchsia-99': #fffbff,
    'fuchsia-95': #ffecef,
    'fuchsia-90': #ffd9e0,
    'fuchsia-80': #ffb1c4,
    'fuchsia-70': #ff85a7,
    'fuchsia-60': #f5578c,
    'fuchsia-50': #d33d73,
    'fuchsia-40': #b2215a,
    'fuchsia-30': #8f0043,
    'fuchsia-20': #66002d,
    'fuchsia-10': #3f001a,

    'green': #5aaa46,
    'green-99': #f7ffee,
    'green-95': #cbffb7,
    'green-90': #a2f789,
    'green-80': #87da70,
    'green-70': #6dbe57,
    'green-60': #53a23f,
    'green-50': #398728,
    'green-40': #1c6d0d,
    'green-30': #095300,
    'green-20': #053900,
    'green-10': #022100,

    'abbey': #58595b,
    'abbey-99': #fdfcfe,
    'abbey-95': #f1f0f2,
    'abbey-90': #e3e2e4,
    'abbey-80': #c6c6c8,
    'abbey-70': #ababad,
    'abbey-60': #909093,
    'abbey-50': #767779,
    'abbey-40': #5d5e60,
    'abbey-30': #464749,
    'abbey-20': #2f3032,
    'abbey-10': #1a1c1d,

    'chathams-blue': #174e86,

    // Semantic
    'disabled': 'abbey-10',

    'background': 'light',
    'background-alt': 'abbey-95',
    'background-dark': 'navy-blue',
    'background-dark-alt': 'chathams-blue',

    'font': 'abbey-10',
    'font-light': 'light',
    'font-muted': 'abbey-50',

    'link': 'blue',

    'active': 'blue',
    'focus': 'blue',

    'error': 'red-40',

    'icon': 'abbey-30',
    'icon-light': 'light',
    'icon-active': 'blue',

    'border': 'abbey-80',
    'border-light': 'abbey-90',
    'divider': 'border',
    'bullet': 'abbey-50',

    'menu-link-bg': 'abbey',

    'checkbox-bg': 'abbey-10',
    'checkbox-border': 'abbey-30',
    'checkbox-border-alt': 'abbey-10',

    'autofill': 'blue-95'
);

// ## Typography
// -------------

$fonts: (
    'display-large': (
        'font-family': (
            'Montserrat',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 700,
        'font-size': 57px,
        'line-height': 1.12,
    ),
    'display-medium': (
        'font-family': (
            'Montserrat',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 700,
        'font-size': 45px,
        'line-height': 1.16,
    ),
    'display-small': (
        'font-family': (
            'Montserrat',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 700,
        'font-size': 36px,
        'line-height': 1.22,
    ),
    'headline-large': (
        'font-family': (
            'Montserrat',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 700,
        'font-size': 32px,
        'line-height': 1.25,
    ),
    'headline-medium': (
        'font-family': (
            'Montserrat',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 700,
        'font-size': 28px,
        'line-height': 1.29,
    ),
    'headline-small': (
        'font-family': (
            'Montserrat',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 700,
        'font-size': 24px,
        'line-height': 1.33,
    ),
    'title-large': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 500,
        'font-size': 22px,
        'line-height': 1.27,
    ),
    'title-medium': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 500,
        'font-size': 16px,
        'line-height': 1.5,
        'letter-spacing': 0.15px,
    ),
    'title-small': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 500,
        'font-size': 14px,
        'line-height': 1.43,
        'letter-spacing': 0.1px,
    ),
    'label-large': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 500,
        'font-size': 14px,
        'line-height': 1.43,
        'letter-spacing': 0.1px,
    ),
    'label-medium': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 500,
        'font-size': 12px,
        'line-height': 1.33,
        'letter-spacing': 0.5px,
    ),
    'label-small': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 500,
        'font-size': 11px,
        'line-height': 1.45,
        'letter-spacing': 0.5px,
    ),
    'body-large': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 400,
        'font-size': 16px,
        'line-height': 1.5,
        'letter-spacing': 0.5px,
    ),
    'body-medium': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 400,
        'font-size': 14px,
        'line-height': 1.43,
        'letter-spacing': 0.25px,
    ),
    'body-small': (
        'font-family': (
            'Noto Sans',
            sans-serif,
            // 'Inter',
            // sans-serif,,,,,,
        ),
        'font-style': normal,
        'font-weight': 400,
        'font-size': 12px,
        'line-height': 1.33,
        'letter-spacing': 0.4px,
    ),
);

// ## Sizes
// --------

$default-units: 'rem';
$sizes: (
    'base': 8px,
    'gutter': 24px,

    'radius': (
        4px,
        8px,
        12px,
        16px,
        20px,
        24px,
        28px,
    ),
    'opacity': (
        0.08,
        0.12,
        0.16,
        0.24,
        0.32,
        0.48,
        0.64,
        0.8,
        0.96,
    ),
    'duration': (
        0.15s,
        0.3s,
        0.45s,
        0.6s,
        0.75s,
        1s,
    ),

    'grid-size-1': 1*98px + 0*24px,
    'grid-size-2': 2*98px + 1*24px,
    'grid-size-3': 3*98px + 2*24px,
    'grid-size-4': 4*98px + 3*24px,
    'grid-size-5': 5*98px + 4*24px,
    'grid-size-6': 6*98px + 5*24px,
    'grid-size-7': 7*98px + 6*24px,
    'grid-size-8': 8*98px + 7*24px,
    'grid-size-9': 9*98px + 8*24px,
    'grid-size-10': 10*98px + 9*24px,
    'grid-size-11': 11*98px + 10*24px,
    'grid-size-12': 12*98px + 11*24px,

    'page-width': 1440px,

    'section-padding': 80px,

    'icon': 24px,

    'card-image-width': 340px,
    'card-image-height': 208px,
    'card-item-min-width': 280px,

    'avatar': 320px,

    // Input
    'input-padding-x': 16px,
    'input-padding-y': 15px,
    'input-border-width': 1px,
    'input-border-radius': 'radius' 1,
    'input-padding-x-small': 16px,
    'input-padding-y-small': 7px,

    // Select
    'select-padding-right': 42px,

    // Menu
    'menu-link-padding-x': 16px,
    'menu-link-padding-y': 12px,
    'menu-radius': 'radius' 1,

    // Checkbox
    'checkbox-size': 18px,
    'checkbox-bg-size': 40px,
    'checkbox-border-width': 2px,
    'checkbox-border-radius': 2px,

    // Radio
    'radio-size': 10px,
    'radio-bg-size': 40px,
    'radio-border-width': 2px,

    // Item list
    'item-list-padding-x': 24px,
    'item-list-padding-y': 12px,

    // Breakpoints
    'bp-xxl': 1440px,
    'bp-xl': 1200px,
    'bp-lg': 992px,
    'bp-md': 768px,
    'bp-sm': 576px,
    'bp-xs': 480px,
    'bp-xxs': 320px,
);

// ## Z-indices
// ------------

$z-index: (
    'local1' 'local2' 'local3' 'local4' 'local5',
    'header',
    'mobile-menu',
    'container',
    'popup',
    'backdrop',
    'loader',
    'header' 'header-link' 'header-search',
    'overlay',
    'a11y-nav',
    'dialog',
    'cookie-consent',
    'browser-status'
);

// ## Transitions
// --------------

$transition-duration: 0.15s;

// ## Elevations
// -------------

$elevation: (
    // Elevation 1
    (0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15)),
    // Elevation 2
    (0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15)),
    // Elevation 3
    (0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3)),
    // Elevation 4
    (0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3)),
    // Elevation 5
    (0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3))
);

// ## Image Data
// -------------

$image-data: (
    'arrow-drop-down':
        'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5"%3E%3Cpath d="M5 5L0 0H10L5 5Z" fill="%23464749"/%3E%3C/svg%3E%0A',
    'check':
        'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="13" viewBox="0 0 18 13"%3E%3Cpath d="M6.54998 13L0.849976 7.29998L2.27498 5.87498L6.54998 10.15L15.725 0.974976L17.15 2.39998L6.54998 13Z" fill="%23464749"/%3E%3C/svg%3E%0A',
    'check-small':
        'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10"%3E%3Cpath d="M4 9.4L0 5.4L1.4 4L4 6.6L10.6 0L12 1.4L4 9.4Z" fill="%23fff"/%3E%3C/svg%3E',
    'checkbox-outline-blank':
        'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"%3E%3Cpath d="M2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2ZM2 16H16V2H2V16Z" fill="%23464749"/%3E%3C/svg%3E%0A',
    'checkbox':
        'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"%3E%3Cpath d="M7.6 13.2L14.65 6.15L13.25 4.75L7.6 10.4L4.75 7.55L3.35 8.95L7.6 13.2ZM2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2Z" fill="%23464749"/%3E%3C/svg%3E%0A',
    'checkbox-indeterminate':
        'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"%3E%3Cpath d="M7.6 13.2L14.65 6.15L13.25 4.75L7.6 10.4L4.75 7.55L3.35 8.95L7.6 13.2ZM2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H16C16.55 0 17.0208 0.195833 17.4125 0.5875C17.8042 0.979167 18 1.45 18 2V16C18 16.55 17.8042 17.0208 17.4125 17.4125C17.0208 17.8042 16.55 18 16 18H2Z" fill="%23464749"/%3E%3C/svg%3E%0A',
    'close':
        'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"%3E%3Cpath d="M1.4 14L0 12.6L5.6 7L0 1.4L1.4 0L7 5.6L12.6 0L14 1.4L8.4 7L14 12.6L12.6 14L7 8.4L1.4 14Z" fill="%23464749"/%3E%3C/svg%3E%0A',
    'navigate-next':
        'data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"%3E%3Cpath d="M1.4 12L0 10.6L4.6 6L0 1.4L1.4 0L7.4 6L1.4 12Z" fill="%23464749"/%3E%3C/svg%3E%0A',
);
