{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{% set blacklist_routs = ['user.register'] %}
{% set menu_link = element['#link'] %}
{% if menu_link.url.routeName not in blacklist_routs %}
    {% set link_classes = [
        'c-menu__link',
        'c-menu__link--with-icon',
        'c-menu__link--' ~ menu_link.url.routeName,
    ] %}
    {% if is_active %}
        {% set link_classes = link_classes|merge(['is-active']) %}
    {% endif %}
    <li{{ attributes.addClass('c-menu__item') }}>{{ link(menu_link.title, menu_link.url, { 'class': link_classes }) }}</li>
{% endif %}
{# {{ dump() }} #}