{#
/**
 * @file
 * Theme override for the media library modal content area.
 */
#}
{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
    'media-library-content',
    'c-container',
    'c-container--media-library-content',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    {{ children }}
</div>
