{#
/**
 * @file
 * Theme override for a text format-enabled form element.
 *
 * Available variables:
 * - children: Text format element children.
 * - description: Text format element description.
 * - attributes: HTML attributes for the containing element.
 * - aria_description: Flag for whether or not an ARIA description has been
 *   added to the description container.
 *
 * @see template_preprocess_text_format_wrapper()
 */
#}
<div class="c-form__text-format-wrapper js-text-format-wrapper js-form-item form-item">
	{{ children }}
    {% set attributes_array = attributes.toArray() %}
    {% set blacklist_ids = ['edit-comment-body-0--description'] %}
	{% if description and attributes_array.id not in blacklist_ids %}
		<div{{attributes.addClass('c-form__field-description')}}>{{ description }}</div>
	{% endif %}
</div>
