// # Col
// =====

$padding-x: size('gutter') / 2;

.o-col {
    padding-right: $padding-x;
    padding-left: $padding-x;
}

// ## Col - n
// ----------

$col-count: 12;

@for $i from 1 through $col-count {
    .o-col--#{$i} {
        flex: 0 0 percentage($i / $col-count);
        max-width: percentage($i / $col-count);
    }
}
